<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Analyst</title>
    <link href="../static/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="brand-title">ADMIN</div>
        <div><a href="{{ url_for('home') }}" class="button">Home</a></div>

        <br />
        <h2 class="title_great">{{keys}}</h2>
        <div class="footer">
            <p>Structure de données pour le cloud - 2022/2023</p>
        </div>
    </div>
</body>

  </html>