<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Mongo App</title>
    <link href="../static/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="brand-title">MongoDB APP</div>
        <div class="brand-subtitle">CARVAL Nicolas - NAVARRE Quentin - PINCET Bruno</div>

        <a href="{{ url_for('User') }}" class="button">User Queries</a>
        <a href="{{ url_for('Analyst') }}" class="button">Analyst Queries</a>

        <div id="wrapper"><div class="brand-logo"></div></div>
        
        <div class="footer">
            <p>Structure de données pour le cloud - 2022/2023</p>
        </div>
    </div>
    
</body>
  </html>